<div class="tabs tabs-icon-top">
    <a class="tab-item" ng-click="toggleClass1('start')">
        <i class="icon ion-ios-home" ng-class="{true:'active',false:'normals'}[datas.isActives1]"></i>
        首页
    </a>
    <a class="tab-item" ng-click="toggleClass2('order')">
        <i class="icon ion-ios-paper" ng-class="{true:'active',false:'normals'}[datas.isActives2]"></i>
        订单
    </a>
    <a class="tab-item" ng-click="toggleClass3('my')">
        <i class="icon ion-social-github" ng-class="{true:'active',false:'normals'}[datas.isActives3]"></i>
        我的
    </a>
</div>